<h1>Yelp</h1>
<ul>
<% @restaurants.each do |restaurant| %>
<li>

<%= link_to restaurant.name, restaurant_path(restaurant[:id]) %>,
<%= restaurant.category %>
</li>
<% end %>
</ul>

<h5><%= link_to "Add a new Restaurant", new_restaurant_path %></h5>
